.container {
    background-color: black;
}

.slogan-section {
    display: flex;
    justify-content: left;
    background: linear-gradient(to right, var(--cor-background), black);
    padding: 80px;
    border-bottom: 1px solid var(--cor-background);
}

.slogan {
    text-align: left;
    margin-left: 13%;
    color: var(--cor-principal);
    padding: 0px 32px;
    width: 768px;
}

.slogan h1 {
    margin: 0;
    margin-bottom: 24px;
    font-size: 60px;
    height: 120px;
}

.slogan p {
    margin-top: 0px;
    margin-bottom: 32px;
    font-size: 20px;
}

.slogan-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.slogan-buttons button {
    padding: 0px;
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
}

#sl-b1 {
    background-color: white;
    border: none;
    border-radius: 10px;
}

#sl-b1:hover {
    background-color: rgb(219, 219, 219);
}

#sl-b2 {
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

#sl-b2:hover {
    background-color: white;
    color: black;
}

.category-section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 64px;
    border-bottom: 1px solid var(--cor-background);
}

.category h2 {
    margin-bottom: 48px;
    font-size: 30px;
}

.category-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 24px;
}

.category-icons div {
    background-color: var(--cor-background);
    padding: 32px;
    border: 1px solid rgb(40, 56, 78);
    border-radius: 10px;
    width: 230px;
    height: 90px;
    font-size: 18px;
}

.category-icons svg {
    width: 50px;
    height: 50px;
    fill: rgb(0, 132, 255);
    margin-bottom: 10px;
    transition: transform 0.5s;
}

.category-icons a {
    text-decoration: none;
    color: var(--cor-principal);
}

.category-icons a:hover svg {
    transform: scale(1.1);
}

.features-section {
    padding: 64px 0 100px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--cor-background);
}

.features {
    padding: 0px 32px;
    width: max-content;
}

.features-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.features-title h2 {
    color: var(--cor-principal);
    font-size: 30px;

}

.features-title button {
    background-color: var(--cor-principal);
    border: none;
    border-radius: 10px;
    padding: 6px 16px;

}

.features-title button:hover {
    color: var(--cor-principal);
    background-color: var(--cor-background);
}

.card-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;

}

.final-section {
    padding: 64px 0;
    padding-bottom: 100px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 200px;
}

.icons h3 {
    color: var(--cor-principal);
    margin-bottom: 16px;
}

.icons p {
    color: var(--cor-secundaria);
}

.icon div {
    height: 30px;
    width: 30px;
    background-color: var(--cor-background);
    border: 20px solid var(--cor-background);
    border-radius: 100%;
    margin: 0 100px 16px 100px;
}

.box {
    fill: rgb(43, 127, 255);
}