.item {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid rgb(40, 56, 78);
    border-radius: 10px;
    background-color: var(--cor-background);
    overflow: hidden;
}

.item-image img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
    transition: transform 0.5s ease;
}

.item-image {
    height: 300px;
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.1);
}


.item-description {
    padding: 16px;
}

.item-description h3 {
    color: var(--cor-principal);
    margin-bottom: 8px;
    font-size: 18px;
}

.item-description p {
    color: var(--cor-secundaria);
    margin-bottom: 12px;
    font-size: 14px;
}

.item-description div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-description span {
    color: rgb(43, 127, 255);
    font-size: 24px;
    font-weight: 700;
}

.item-description button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: var(--cor-principalo);
    font-weight: 500;
    background-color: rgb(3, 2, 19);
    gap: 10px;
    padding: 0 10px;
    fill: var(--cor-principal);
}

.item-description button:active {
    fill: var(--cor-secundaria);
}

