<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<body>
    <header class="navbar">
        <div class="logo">
            <img src="logo-branca.PNG" alt="logo"> TechStore
        </div>

        <nav class="nav-links">
            <a routerLink="/home" routerLinkActive="active">Início</a>
            <a routerLink="/produtos" routerLinkActive="active">Produtos</a>
        </nav>

        <div class="nav-actions">
            <div class="admin-info" id="admin-status">
            <a *ngIf="!authService.estaLogado()" routerLink="/login" routerLinkActive="active" class="login-link"><i class="fa-solid fa-user"></i><span>Login</span></a>
            <span *ngIf="authService.estaLogado()" class="auth-user"><i class="fa-solid fa-user"></i><span>{{ authService.isAdmin() ? 'Admin' : 'Usuario' }}</span></span>
            <button *ngIf="authService.estaLogado()" type="button" class="logout-button" (click)="logout()">Sair</button>
           </div>
            <div class="cart-icon">
                <a routerLink="/carrinho" routerLinkActive="active-btn">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
    </header>
</body>
